<!DOCTYPE html>
<input id="pageId" style="display:none" value="@Model.CurrentPageID" />
<input id="pageIdAuth" style="display:none" value="@Model.CurrentPageAuth" />
<input id="typePath" style="display:none" value="@Model.CurrentPageTypePath" />
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - TestApplication</title>

    <link href="/css/highlight/vs2015.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/site.css" />

    <script src="~/fsw.min.js"></script>

    <script>
        window.onload = function () {
            hljs.initHighlightingOnLoad();

            $('.ui.accordion').accordion();
        };
    </script>

</head>
<body>
    <div class="ui inverted left vertical fixed menu" style="height:100%">
        <div class="item">
            <div class="header">Home</div>
            <div class="header">Documentations</div>
            <div class="header">Base HTML Elements</div>
            <div class="menu">
                <a class="item" href="~/Examples/Button">Button</a>
                <a class="item" href="~/Examples/TextBox">TextBox</a>
                <a class="item" href="~/Examples/Label">Label</a>
                <a class="item" href="~/Examples/DataGrid">DataGrid</a>
                <a class="item" href="~/Examples/SmartDataGrid">SmartDataGrid</a>
                <a class="item" href="~/Examples/StaticHostedService">Static hosted service</a>
                <a class="item" href="~/Examples/TabsControl">Tabs Control</a>
            </div>
            <div class="header">Sementic Elements</div>
            <div class="menu">
                <a class="item" href="~/Examples/Semantic/SemanticButton">Button</a>
                <a class="item" href="~/Examples/Semantic/SemanticLabel">Label</a>
                <a class="item" href="~/Examples/Semantic/SemanticComboBox">ComboBox</a>
            </div>

            <div class="header">Other Elements</div>
            <div class="menu">
                <a class="item" href="~/Examples/DataPO">Data Properties</a>
                <a class="item" href="~/Examples/Calendar">Calendar</a>
                <a class="item" href="~/Examples/PropertyBinding">Property Binding</a>
            </div>
        </div>
    </div>

    <div style="width: calc( 100% - 215px ); left: 215px; position: relative; height: 100%">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
